<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'headerfiles.html' %}
</head>
<body>
{% include 'partner/partnernavbar.html' %}
<div class="container">
    <div class="col-md-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Change Password</h2>
            </div>
            <div class="card-body">
                <form id="frm_changepasswordpartner">
                    <div class="row form-group">
                        <label>Email ID</label>
                        <input type="email" readonly name="email" data-rule-required="true"
                               data-msg-required="Please Enter Email ID"
                               id="email" class="form-control" value="{{ request.session.PEMAIL }}">
                    </div>
                    <div class="form-group row">
                        <label>Enter Current Password</label>
                        <input type="password" name="oldpassword" id="oldpassword" data-rule-required="true"
                               data-msg-required="Please Enter Current Password" class="form-control">
                    </div>
                    <div class="form-group row">
                        <label>Enter New Password</label>
                        <input type="password" name="newpassword" id="newpassword" data-rule-required="true"
                               data-msg-required="Please Enter New Password" class="form-control">
                    </div>
                    <div class="form-group row">
                        <label>Retype Password</label>
                        <input type="password" name="cpassword" id="cpassword" data-rule-required="true" data-msg-required="Retype Confirm Password" data-rule-equalto="#newpassword" data-msg-equalto="Mismatch Password" class="form-control">
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <button type="button" onclick="changepasswordpartner()" class="btn btn-success">Login</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div id="output"></div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>