<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'headerfiles.html' %}
{#    <script>#}
{#        {%  include 'myjs/partner.js' %}#}
{#    </script>#}

</head>
<body onload="restorderdetail({{ orderid }},{{ mobileno }})">
{% include 'partner/partnernavbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">My Orders Detail</h1><br>
            <div id="orderdetaildiv"></div>
        </div>
    </div>
</div>
</body>
</html>