<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'headerfiles.html' %}
    {% load staticfiles %}
{#    <script>#}
{#        {%  include 'myjs/partner.js' %}#}
{#    </script>#}

</head>
<body>
{% include 'publicnavbar.html' %}
<!-- banner -->
	<div class="pogoSlider" id="js-main-slider">
		<div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="2000" style="background-image:url({% static 'images1/tiffin.jpg' %});">
			<div class="pogoSlider-slide-element">
				<div class="container">
{#					<div class="banner-img-agile">#}
{#						<img src="{% static 'images1/bannerimg.png' %}" alt="" class="img-fluid">#}
{#					</div>#}
					<h5 class="text-white">INDIA's 1ST CUSTOMISED</h5>
					<p class="font-italic text-uppercase">Online Tiffin Service</p>
{#					<a class="bubbly-button" href="menu.html">View Menu</a>#}
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="2000" style="background-image:url({% static 'images1/salads.png' %});">
			<div class="pogoSlider-slide-element">
				<div class="container">
{#					<div class="banner-img-agile">#}
{#						<img src="{% static 'images1/bannerimg.png' %}" alt="" class="img-fluid">#}
{#					</div>#}
					<h5 class="text-white">SALADS</h5>
					<p class="font-italic text-uppercase">American Sweet Corn Salad, Banana and Cucumber Salad, Beans and Vegetable Salad.</p>
{#					<a class="bubbly-button" href="menu.html">View Menu</a>#}
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000" style="background-image:url({% static 'images1/hygienic.png' %});">
			<div class="pogoSlider-slide-element">
				<div class="container">
{#					<div class="banner-img-agile">#}
{#						<img src="{% static 'images1/bannerimg.png' %}" alt="" class="img-fluid">#}
{#					</div>#}
					<h5 class="text-white">HYGIENIC</h5>
					<p class="font-italic text-uppercase">Cooked in highly, Sanitized environment, Packed in disposable containers</p>
{#					<a class="bubbly-button" href="menu.html">View Menu</a>#}
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000" style="background-image:url({% static 'images1/rotis.png' %});">
			<div class="pogoSlider-slide-element">
				<div class="container">
{#					<div class="banner-img-agile">#}
{#						<img src="{% static 'images1/bannerimg.png' %}" alt="" class="img-fluid">#}
{#					</div>#}
					<h5 class="text-white">ROTIS/PARATHAS</h5>
					<p class="font-italic text-uppercase"> Cabbage and Paneer Paratha, Ajwaini Roti, Aloo ki Puri, Green Peas Paratha
Mixed Vegetable Paratha</p>
{#					<a class="bubbly-button" href="menu.html">View Menu</a>#}
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->

	<!-- about -->
	<div class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-heading text-center mb-sm-5 mb-4">
				<h3 class="title text-capitalize text-dark">welcome to our site</h3>
				<p class="title-text font-weight-light font-italic mt-2">Introduction</p>
			</div>
			<div class="row">
                <div class="col-md-12">
                    <p class="about-left-agile text-dark text-capitalize font-weight-bold">our flavors</p>
					<h3 class="about-headagile text-capitalize mt-2 mb-4 text-center">fresh & tasty! </h3>
                </div>
				<div class="col-lg-6 aboutleft">

					<p class="my-3"> ITiffin is Amritsar's first food-commerce tiffin service which allows you to order delicious home-style food in convenient packaging- ALL ONLINE.

ITiffin! delivers nutritious meals all over Amritsar in microwaveable boxes for easy reheating and we serve a different meal every day of the month!
					</p>
					<p>Our customers love ITiffin! Amritsar tiffin service for its authentic Indian food and customer eservice.</p>
				</div>
				<div class="col-lg-6 aboutright"><br>
                    <div class="inneraboutright">
                        <p class="text-center">
                            A well balanced and healthy meal can now reach in any nook or corner of Amritsar. Choose what you would like for your next meal and we promise to deliver tiffins.
                        </p>
                    </div>
{#					<div class="large-12 columns">#}
{#						<!-- Owl-Carousel -->#}
{#						<div id="owl-demo" class="owl-carousel owl-theme text-center agileinfo-gallery-row">#}
{#							<a class="item g1">#}
{#								<img class="lazyOwl img-fluid" src="{% static 'admin/images1/w1.png' %}" title="Ice Cream" alt="" />#}
{#							</a>#}
{#							<a class="item g1">#}
{#								<img class="lazyOwl img-fluid" src="{% static 'admin/images1/w2.png' %}" title="Ice Cream" alt="" />#}
{#							</a>#}
{#							<a class="item g1">#}
{#								<img class="lazyOwl img-fluid" src="{% static 'admin/images1/w3.png' %}" title="Ice Cream" alt="" />#}
{#							</a>#}
{#						</div>#}
{#					</div>#}
				</div>
			</div>
		</div>
	</div>
	<!--//about-->

	<!-- about bottom -->
	<div class="video-w3l text-center py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="text-white">Food would not be food without choice. Food is the favorite currency of love.</h3>
			<p class="font-italic p-3">It is like a temptation to eat food instead of something that is better for you. </p>
			<a class="btn btn-primary button-w3ls" href="#" role="button">Read More</a>
		</div>
	</div>
	<!-- //about bottom -->

	<!-- work -->
	<section class="services py-5" id="work">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-heading text-center mb-sm-5 mb-4">
				<h3 class="title text-capitalize text-dark">our work</h3>
				<p class="title-text font-weight-light font-italic mt-2">Why Choose Us</p>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="d-flex box-a py-5 px-3">
						<div class="col-3">
							<i class="fab fa-apple"></i>
						</div>
						<div class="col-9">
							<h3>Ghar ka Khana</h3>
							<p class="mt-3">
								Delicious Home Style food with minimal oil / masalas.
							</p>
						</div>
					</div>
					<!-- .Box ends here -->
				</div>
				<!-- .Col-lg-6 ends here -->

				<div class="col-lg-6 mt-lg-0 mt-5">
					<div class="d-flex box-b  py-5 px-3">
						<div class="col-9  text-right">
							<h3>Amazing variety</h3>
							<p class="mt-3">
								You will love the variety coz at SpiceBox - No dish is repeated All Month!!
							</p>
						</div>
						<div class="col-3">
							<i class="fas fa-utensils"></i>
						</div>
					</div>
					<!-- .Box ends here -->
				</div>
				<!-- .Col-lg-6 ends here -->
			</div>
			<div class="row mt-5">
				<div class="col-lg-6">
					<div class="d-flex box-a  py-5 px-3">
						<div class="col-3">
							<i class="fas fa-truck"></i>
						</div>
						<div class="col-9">
							<h3>Easy Ordering</h3>
							<p class="mt-3">
								Ordering your meal on the SpiceBox! Website will take less than 2 mins!!
							</p>
						</div>
					</div>
					<!-- .Box ends here -->
				</div>
				<!-- .Col-lg-6 ends here -->

				<div class="col-lg-6 mt-lg-0 mt-5">
					<div class="d-flex box-b  py-5 px-3">
						<div class="col-9 text-right">
							<h3>My Account</h3>
							<p class="mt-3">
								Manage your orders - Cancellations, Order Renewals, Shares etc within seconds.
							</p>
						</div>
						<div class="col-3">
							<i class="fas fa-glass-martini"></i>
						</div>
					</div>
					<!-- .Box ends here -->
				</div>
				<!-- .Col-lg-6 ends here -->
			</div>
			<!-- .Row ends here -->
		</div>
		<!-- .Container ends here -->
	</section>
	<!-- .Section ends here -->
	<!-- //work -->

	<!-- news -->
	<div class="middle-section py-5" id="news">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-heading text-center mb-sm-5 mb-4">
				<h3 class="title text-capitalize text-dark">latest news</h3>
				<p class="title-text font-weight-light font-italic mt-2">Ut enim ad minim veniam</p>
			</div>
			<div class="wthree_events_grid">
				<div class="event-grids">
					<div class="agileits_event_grid_date">
						<p class="text-white text-uppercase">Post on</p>
						<span>March 13th 2019</span>
					</div>
					<div class="agileinfo_events_grid1">
						<div class="events_info_w3ls">
							<a href="#" data-toggle="modal" data-target="#latest_news">Lorem ipsum dolor sit amet</a>
							<p>Etiam non sapien non mauris molestie mollis quis et augue. Ut et ante id neque dignissim tincidunt a interdum orci.</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="event-grids">
					<div class="agileits_event_grid_date">
						<p class="text-white text-uppercase">Post on</p>
						<span>March 15th 2019</span>
					</div>
					<div class="agileinfo_events_grid1">
						<div class="events_info_w3ls">
							<a href="#" data-toggle="modal" data-target="#latest_news">Nullam eu vehicula felis</a>
							<p>Maecenas enim elit, molestie et magna vel, condimentum sollicitudin magna. In pretium eros ut rhoncus pulvinar.</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="event-grids">
					<div class="agileits_event_grid_date">
						<p class="text-white text-uppercase">Post on</p>
						<span>March 22nd 2019</span>
					</div>
					<div class="agileinfo_events_grid1 grid3 ">
						<div class="events_info_w3ls">
							<a href="#" data-toggle="modal" data-target="#latest_news">Donec tempor justo nec orci</a>
							<p>Donec facilisis, orci a aliquet ultricies, lacus mauris vestibulum lorem, in malesuada augue sem sed dolor. Ut at
								metus vel enim elementum varius.Etiam ut cursus sem. Vestibulum dapibus a tellus.</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>

{% include 'footer.html' %}
</body>
</html>