<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'headerfiles.html' %}
    {#    <script>#}
    {#        {%  include 'myjs/partner.js' %}#}
    {#    </script>#}

</head>
<body>
{% include 'publicnavbar.html' %}
{% include 'publicsubnavbar.html' %}
<div class="container">
    <div class="col-md-8 offset-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Sign Up Partner</h2>
            </div>
            <div class="card-body">
                <form id="frm_addpartner">
                    <div class="form-group row">
                        <div class="col-xl-6">
                            <label>Enter Company Name</label>
                            <input type="text" name="companyname" data-rule-required="true"
                                   data-msg-required="Please Enter Company Name" id="companyname" class="form-control">
                        </div>
                        <div class="col-xl-6">
                            <label>Enter Owner Name</label>
                            <input type="text" name="ownername" data-rule-required="true"
                                   data-msg-required="Please Enter Owner Name" id="ownername" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label>Enter Address</label>
                            <textarea name="address" id="address" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label>Enter Location</label>
                            <textarea placeholder="Paste Your Location Here" name="location" id="location" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xl-6">
                            <label>Enter Email ID</label>
                            <input type="email" name="email" data-rule-required="true"
                                   data-msg-required="Please Enter Email ID" id="email" class="form-control">
                        </div>
                        <div class="col-xl-6">
                            <label>Enter Mobileno</label>
                            <input type="text" name="mobileno" id="mobileno" data-rule-required="true"
                                   data-msg-required="Please Enter Mobileno" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-6">
                            <label>Enter Password</label>
                            <input type="password" name="password" id="password" data-rule-required="true"
                                   data-msg-required="Please Enter Password" class="form-control">
                        </div>
                        <div class="col-xl-6">
                            <label>Enter Confirm Password</label>
                            <input type="password" name="cpassword" id="cpassword" data-rule-required="true"
                                   data-msg-required="Retype Confirm Password" data-rule-equalto="#password"
                                   data-msg-equalto="Mismatch Password" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <button type="button" onclick="addpartner()" class="btn btn-success">SignUp</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div id="output"></div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:20px;">

</div>
{% include 'footer.html' %}
</body>
</html>